---
export interface Props {
  id: string;
  label: string;
  type?: 'text' | 'email';
  errorMsg?: string;
  errorField?: string;
  [key: string]: any;
}

const { id, label, type = "text", errorMsg = "Укажите данные", errorField, ...attrs } = Astro.props;

const fieldName = errorField || id.replace('reg-form-', '');
---

<div class="drw-input">
  <label class="_input-label" for={id}>{label}</label>
  <input class="_input-el" {id} {type} {...attrs} />
  <p 
    class="_input-error +form-error-message +typo-caption" 
    x-text={`errors.${fieldName} || '${errorMsg}'`}
  ></p>
</div>

<style is:global>
  .drw-input {
    ._input-label {
      display: block;
      font-size: 14px;
      line-height: 1;
      margin-bottom: var(--drw-gap-2);
      color: var(--drw-color-text-secondary);
    }

    ._input-el {
      width: 100%;
      padding: calc(var(--drw-gap-2) + 2px) var(--drw-gap-3);
      background: var(--drw-color-bg-primary);
      border: 1px solid var(--drw-color-line-border);
      border-radius: var(--drw-radius-1);
      font-size: 16px;
      line-height: 1;
      transition: .25s;
      transition-property: border-color;

      &:focus,
      &:hover {
        border-color: var(--drw-color-accent);
      }
    }

    ._input-error {
      display: none;
      margin-top: var(--drw-gap-2);
    }

    .\+filled {
      border-color: var(--drw-color-line-border-focus);
    }

    .\+error {
      border-color: var(--drw-color-status-error);
    }

    .\+error + ._input-error {
      display: block;
    }
  }
</style>
